#main-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 14px;
}

form {
    background-color: white;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

button.btn.btn-secondary.btn-block {
    font-size: 12px;
}

div.dropdown-menu {
    font-size: 12px;
}

#request-title {
    font-size: 1.5rem;
}

button.btn.btn-secondary.btn-block {
    text-align: left;
}

#first-name {
    width: 50%;
    padding-right: 1%;
}

#first-name input {
    width: 100%
}

#last-name {
    width: 50%;
    padding-left: 1%;
}

#last-name input {
    width: 100%
}

#telephone {
    width: 50%;
}

#dont-see-address {
    color: blue;
    float: right;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}

#tell-more-btn {
    height: 65px;
    margin-bottom: 15px;
}

small {
    color: gray;
}

div.row div.col-auto {
    color: gray;
}

#apply-now-btn {
    height: 65px;
    margin-top: 15px;
}
